@page "/"
@inherits IndexBase
<h2><b>Home page</b></h2>

<br />
<h4>
    Welcome to our Capstone Project
</h4>
<br />
<p>
    This page will be our landing page with any necessary information or links displayed here.
</p>

<h2><b>Current US COVID Statistics</b></h2>

@if (currentUS == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table sticky">

        <thead>
            <tr>                
                <th>Pos. Cases</th>
                <th>Neg. Cases</th>
                <th>New Cases</th>
                <th>New Neg. Tests</th>
                <th>Curr. Hosp.</th>
                <th>New Hosp.</th>
                <th>Cum. Hosp.</th>
                <th>Curr. ICU</th>
                <th>Cum. ICU</th>
                <th>Total Deaths</th>
                <th>New Deaths</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var us in currentUS)
            {
                <tr>                    
                    <td>@us.positive</td>
                    <td>@us.negative</td>
                    <td>@us.positiveIncrease</td>
                    <td>@us.negativeIncrease</td>
                    <td>@us.hospitalizedCurrently</td>
                    <td>@us.hospitalizedIncrease</td>
                    <td>@us.hospitalizedCumulative</td>
                    <td>@us.inIcuCurrently</td>
                    <td>@us.inIcuCumulative</td>
                    <td>@us.death</td>
                    <td>@us.deathIncrease</td>
                </tr>
            }
        </tbody>
    </table>
    <h4>
        <b>Authors: Daniel Carson &amp; Aaron Renner</b>
    </h4>
    <h4>
        <b>Data Source:</b> <a href="http://www.covidtracking.com">The COVID Tracking Project</a>
    </h4>
}