@page "/states-current"
@inherits StatesCurrentBase 
<h2><b>Current States COVID Statistics</b></h2>

@if (displayStates == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm class="form-inline my-2" Model="@stateForm" OnValidSubmit="ChooseState">
        <b><label for="stateCode">State Code</label></b>
        <InputText class="form-control mx-2" id="stateCode" @bind-Value="stateForm.StateCode" />
        <button class="btn btn-outline-primary" type="submit">Submit</button>
    </EditForm>

    @if (todaysDate != null)
    {
        <p><b>Date: </b>@todaysDate</p>
    }
    <table class="table sticky">
        <thead>
            <tr>                
                <th>State</th>
                <th>Pos. Cases</th>
                <th>Neg. Cases</th>
                <th>New Cases</th>
                <th>New Neg. Cases</th>
                <th>Curr. Hosp.</th>
                <th>New Hosp.</th>
                <th>Cum. Hosp.</th>
                <th>Curr. ICU</th>
                <th>Cum. ICU</th>
                <th>Total Deaths</th>
                <th>New Deaths</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var state in displayStates)
            {
                <tr>                    
                    <td>@state.state</td>
                    <td>@state.positive</td>
                    <td>@state.negative</td>
                    <td>@state.positiveIncrease</td>
                    <td>@state.negativeIncrease</td>
                    <td>@state.hospitalizedCurrently</td>
                    <td>@state.hospitalizedIncrease</td>
                    <td>@state.hospitalizedCumulative</td>
                    <td>@state.inIcuCurrently</td>
                    <td>@state.inIcuCumulative</td>
                    <td>@state.death</td>
                    <td>@state.deathIncrease</td>
                </tr>
            }
        </tbody>
    </table>
    <h4>
        <b>Authors: Daniel Carson &amp; Aaron Renner</b>
    </h4>
    <h4>
        <b>Data Source:</b> <a href="http://www.covidtracking.com">The COVID Tracking Project</a>
    </h4>
}

